.editor {
  width: 100%;
  height: 100%;
  &-left,
  &-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 270px;
  }

  &-left {
    left: 0;
    &-item {
      position: relative;
      width: 250px;
      margin: 20px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding: 20px;
      box-sizing: border-box;
      cursor: move;
      user-select: none;
      min-height: 100px;

      > span {
        position: absolute;
        top: 0;
        left: 0;
        background-color: aqua;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #ccc;
        opacity: 0.2;
      }
    }
  }

  &-right {
    right: 0;
  }

  &-top {
    position: absolute;
    right: 280px;
    left: 280px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;

    &-button {
      width: 60px;
      height: 60px;
      line-height: 60px;
      display: flex;
      justify-content: center;
      align-content: center;
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      cursor: pointer;
      user-select: none;
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &-container {
    padding: 80px 270px 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    &-canvas {
      overflow: auto;
      height: 100%;

      &__content {
        position: relative;
        margin: 20px auto;
        background-color: yellow;
      }
    }
  }
}

// 移动 left
.line-x {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px dashed red;
}

// 移动 top
.line-y {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px dashed red;
}
