.dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 2px 2px #ccc;

  &.dropdown-is-show {
    display: block;
  }
}

.dropdown-item {
  line-height: 30px;
  width: 100px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
